* {
    font-family: 'Caveat', cursive;
    color: #247BA0;
}

html,
button,
input[type=text] {
    font-family: 'Caveat', cursive;
    color: #247BA0;
    font-size: 20px;
    background-color: rgb(210, 238, 83);
}

.container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Modak', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(172, 46, 172);
}

.add-task {
    margin-top: 2rem;
    min-width: 300px;
    display: flex;
}

.add-task__text {
    
    outline-style: none;
    flex-grow: 2;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #70C1B3;
}

.add-task__action {
    outline-style: none;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background-color: #247BA0;
}

.task-list {
    margin-top: 1rem;
    min-width: 300px;
}

.task-list__item,
.task-list__item--done {
    margin: 0.1rem 0;
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 1px solid #B2DBBF;
    /*list-style: none;*/
}